@layer blocks {
  .people {
    float: left;
    margin: var(--space-sm) 0;
    border: 1px dashed var(--color-surface-base);
    padding: var(--space-2xs);
  }

  .people img {
    float: left;
    margin: var(--space-md) var(--space-xs) var(--space-2xs) 0;
  }
}

