:root {
  --inline-padding: clamp(1.6rem, 5.660377358490567vw, 9.6rem);
}
*,
:after,
:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus-visible {
  outline: 0.1rem solid #2e7b8e;
  outline-offset: 0.4rem;
}
a img {
  border: none;
}
address,
blockquote,
dl,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
label,
ol,
p,
pre,
ul {
  margin: 0;
}
embed,
img,
object,
video {
  display: block;
  border: 0;
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
  max-width: 100%;
}
dd,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul {
  margin-bottom: 1em;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
article,
aside,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}
button,
input,
select,
textarea {
  font: inherit;
}
html {
  -webkit-text-size-adjust: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a#skiplink {
  position: absolute;
  top: auto;
  left: -99999px;
  height: 0.1rem;
  width: 0.1rem;
  overflow: hidden;
}
a#skiplink:active,
a#skiplink:focus {
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: auto;
  padding: 1.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  background: #fff;
  z-index: 999;
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
}
html {
  font-size: 62.5%;
  line-height: 1.5;
  overflow-x: hidden;
}
body {
  background: #fff;
  color: #535353;
  accent-color: #2e7b8e;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}
::-moz-selection {
  background: #0116b4;
  color: #fff;
}
::selection {
  background: #0116b4;
  color: #fff;
}
a,
a:link {
  color: #0116b4;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
a:visited {
  color: #0220ff;
}
a:focus,
a:hover {
  color: #011188;
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #2e7b8e;
  color: #fff;
  font-family: inherit;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 0.6em 1.4em;
  line-height: 1;
  border-radius: 100vw;
  border: none;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
}
.btn:focus,
.btn:hover {
  background-color: #3a9cb5;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
}
blockquote {
  background: #2e7b8e11;
  font-style: italic;
  padding: 4rem 2.4rem 3.2rem;
  border-radius: 0.8rem;
  position: relative;
  margin-block: 5.6rem;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote cite {
  display: block;
  font-size: 2.1rem;
  font-style: normal;
  color: #2e7b8e;
  padding-top: 1.2rem;
}
blockquote:before {
  content: open-quote;
  font-family: "Georgia", "Times New Roman", serif;
  font-style: normal;
  font-size: 9.6rem;
  line-height: 1;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  pointer-events: none;
  z-index: 1;
}
blockquote:after {
  content: close-quote;
  width: 5.6rem;
  aspect-ratio: 1;
  background: #2e7b8e;
  border-radius: 100vw;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: transparent;
  outline: 0.4rem solid #fff;
}
hr {
  background-color: #2e7b8e;
  border: medium none;
  clear: both;
  color: #2e7b8e;
  display: block;
  margin-block: clamp(3.2rem, 2.9304vw, 4.8rem);
  margin-inline: auto;
  height: 0.1rem;
  width: 65%;
}
img[align="right"],
img[style*="float: right"] {
  display: block;
  float: right;
  margin: 0 0 clamp(1.6rem, 1.88679vw, 3.2rem) clamp(1.6rem, 1.88679vw, 3.2rem);
  max-width: 45%;
}
img[align="left"],
img[style*="float: left"] {
  display: block;
  float: left;
  margin: 0 clamp(1.6rem, 1.88679vw, 3.2rem) clamp(1.6rem, 1.88679vw, 3.2rem) 0;
  max-width: 45%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;
  color: #2e7b8e;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}
code,
dl,
ol,
p,
pre,
ul {
  margin: 0 0 3.2rem;
}
ol,
ul {
  margin: 0 0 4rem 3.2rem;
}
blockquote p:last-child,
ol p:last-child,
ul p:last-child {
  margin-bottom: 0;
}
dt {
  font-weight: bold;
  font-style: italic;
  color: #010101;
}
table {
  border-collapse: collapse;
  width: 100%;
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 4.8rem;
}
table > tr td:first-child,
table > tr th:first-child {
  border-top-left-radius: 0.4rem;
}
table > tr td:last-child,
table > tr th:last-child {
  border-top-right-radius: 0.4rem;
}
table thead td:first-child,
table thead th:first-child {
  border-top-left-radius: 0.4rem;
}
table thead td:last-child,
table thead th:last-child {
  border-top-right-radius: 0.4rem;
}
table tfoot td:first-child {
  border-bottom-left-radius: 0.4rem;
}
table tfoot td:last-child {
  border-bottom-right-radius: 0.4rem;
}
th {
  background: #2e7b8e;
  color: #fff;
  padding: 0.8rem 1.2rem;
  font-size: 2.1rem;
  text-align: left;
}
tfoot td,
tfoot th {
  background: #333;
  color: #fff;
}
tr {
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
tr:nth-child(odd) {
  background: #fff;
}
tr:nth-child(2n) {
  background: #f5f5f5;
}
tr:focus,
tr:hover {
  background: #3a9cb5;
  color: #fff;
}
td {
  border-bottom: 0.1rem solid #ccc;
  padding: 0.8rem 1.2rem;
  font-size: 2.1rem;
}
tr:last-child td {
  border-bottom: none;
}
.avoid-break {
  display: inline-block;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
.wrapper-wide {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 169.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.wrapper-medium {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 140.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.wrapper-narrow {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 83.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.full-width :last-child {
  margin-bottom: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(2.4rem, 3.77358vw, 6.4rem);
}
nav a:link,
nav a:visited {
  font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 2.1rem;
  padding: 1.6rem 0;
  letter-spacing: 0.025em;
}
nav a:focus,
nav a:hover {
  color: #2e7b8e;
}
#hdr-notice {
  display: none;
  background: #111;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 1.5rem 4.5rem;
}
#hdr-notice .hdr-notice-content {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 83.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 2.1rem;
  position: relative;
  text-align: center;
}
#hdr-notice #close-notice {
  display: inline-block;
  vertical-align: middle;
  width: 2.4rem;
  height: 2.4rem;
  -webkit-mask: url(/img/icons/circle-close.svg);
  mask: url(/img/icons/circle-close.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: -0.3rem 0.2rem 0 0;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
#hdr-notice #close-notice:focus,
#hdr-notice #close-notice:hover {
  background: #2e7b8e;
}
#hdr-notice .notice-btn:link,
#hdr-notice .notice-btn:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}
#hdr-notice .notice-btn:focus,
#hdr-notice .notice-btn:hover {
  text-decoration: none;
}
header nav {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 100;
}
header nav a:link,
header nav a:visited {
  position: relative;
  text-align: center;
  height: 100%;
}
header nav .current > a,
header nav a:focus,
header nav a:hover {
  color: #2e7b8e;
}
header nav ul li {
  position: relative;
  margin: 0;
}
header nav ul li:focus-within ul,
header nav ul li:focus ul,
header nav ul li:hover ul {
  opacity: 1;
  pointer-events: initial;
}
header nav ul ul {
  display: block;
  opacity: 0;
  pointer-events: none;
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 32rem;
  border-radius: 0.4rem;
  left: -1.2rem;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
header nav ul ul:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-width: 0 1.2rem 1.2rem 1.2rem;
  border-color: transparent transparent #fff transparent;
  top: -1.2rem;
  left: 2.4rem;
  position: absolute;
  z-index: 1;
  -webkit-filter: drop-shadow(0 -0.2rem 0.25rem rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 -0.2rem 0.25rem rgba(0, 0, 0, 0.1));
}
header nav ul ul a:link,
header nav ul ul a:visited {
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  background: rgba(255, 255, 255, 0.9);
  font-size: 1.8rem;
  display: block;
  text-align: left;
  padding: 1rem 1.2rem 1.2rem;
}
header nav ul ul li {
  display: block;
}
header nav ul ul li:first-child a:link,
header nav ul ul li:first-child a:visited {
  border-radius: 0.4rem 0.4rem 0 0;
}
header nav ul ul li:last-child a:link,
header nav ul ul li:last-child a:visited {
  border-radius: 0 0 0.4rem 0.4rem;
}
header nav .current .current a,
header nav ul ul a:hover {
  background: #f7f7f7;
  color: #2e7b8e;
}
header.primary-hdr {
  background: #fff;
  padding-block: 2.4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: padding-block 500ms ease-in-out;
  -o-transition: padding-block 500ms ease-in-out;
  transition: padding-block 500ms ease-in-out;
  z-index: 100;
}
header.primary-hdr:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #fff;
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}
header.primary-hdr.sticking {
  padding-block: 1.2rem;
}
header.primary-hdr.sticking:after {
  opacity: 1;
}
.hdr-container {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 169.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.4rem;
}
.logo {
  margin: 0 auto 0 0;
}
.logo img {
  width: var(--logo-width);
}
.banner {
  position: relative;
}
.banner img {
  display: block;
  width: 100%;
}
.feature-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.feature-boxes a {
  width: calc(33.333333% - 4.6875vw);
  border-radius: 0.3rem;
  overflow: hidden;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 0.1rem solid #ddd;
}
.feature-boxes a:hover {
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
}
.feature-boxes a:hover .feature-cta {
  background-color: #3a9cb5;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
}
.feature-boxes img {
  display: block;
  width: 100%;
}
.feature-boxes .feature-text {
  padding: 2.4rem 2.4rem 0;
  color: #222;
}
.feature-boxes .feature-text.no-img {
  margin: auto 0;
}
.feature-boxes .feature-text h2 {
  font-size: 3rem;
  margin: 0;
  color: #09171a;
}
.feature-boxes .feature-text h3 {
  font-size: 2.6rem;
  margin: 0;
  font-weight: normal;
  color: #2e7b8e;
}
.feature-boxes .feature-text p {
  font-size: 2.4rem;
  margin: 1.5rem 0;
}
.feature-boxes .feature-cta {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #2e7b8e;
  color: #fff;
  font-family: inherit;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 0.6em 1.4em;
  line-height: 1;
  border-radius: 100vw;
  border: none;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 2.4rem;
}
@supports (-ms-ime-align: auto) {
  .feature-boxes {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}
#content {
  padding: clamp(4.8rem, 5.66038vw, 9.6rem) 0;
}
.home-content {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 83.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.primary-content {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 83.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.primary-content.medium {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 140.8rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
main h1 {
  font-size: 4.4rem;
  line-height: 1.1;
  margin: 0 0 4rem;
}
main h2 {
  font-size: 4rem;
}
main h3 {
  font-size: 3.6rem;
}
main h4 {
  font-size: 3.2rem;
}
main h5 {
  font-size: 2.8rem;
}
main h6 {
  font-size: 2.4rem;
}
main code,
main dl,
main ol,
main p,
main pre,
main table,
main ul {
  font-size: 2.4rem;
}
main code:last-child,
main dl:last-child,
main ol:last-child,
main p:last-child,
main pre:last-child,
main table:last-child,
main ul:last-child {
  margin-bottom: 0;
}
main pre {
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
main ul ol,
main ul ul {
  margin-bottom: 0;
}
main ol ol,
main ol ul {
  margin-bottom: 0;
}
main li::marker {
  color: #2e7b8e;
}
main ol > li::marker {
  font-weight: bold;
}
main dl dt {
  color: #2e7b8e;
  font-style: normal;
}
.contact-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 2.4rem;
}
main .contact-text h2 {
  margin: 0;
  font-size: 3.2rem;
}
.gallery {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 2.4rem;
  margin-block: clamp(3.2rem, 3.30189vw, 5.6rem);
}
.gallery a {
  border-radius: 0.2rem;
  outline: 0.1rem solid #2e7b8e0;
  outline-offset: -0.4rem;
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
}
.gallery a:hover {
  outline: 0.1rem solid #2e7b8eff;
  outline-offset: 0.2rem;
  -webkit-box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0.1rem 0.1rem 1.6rem 0 rgba(0, 0, 0, 0.25);
}
.gallery img {
  display: block;
  border-radius: 0.4rem;
  width: 100%;
}
.breadcrumbs {
  font-size: 1.8rem;
  margin: 0 0 4.5rem;
}
.breadcrumbs .brdcrmb-dvdr {
  display: inline-block;
  margin: 0 0.2rem;
  width: 1.1rem;
  height: 1.1rem;
  -webkit-mask: url(/img/icons/dbl-arrow.svg);
  mask: url(/img/icons/dbl-arrow.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #555;
}
.breadcrumbs .current {
  font-weight: bold;
  color: #2e7b8e;
}
.pagination-top-text {
  font-size: 1.6rem;
  margin: 0 0.5rem;
  font-style: italic;
  color: #555;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.2rem;
  font-size: 1.8rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 5.6rem 0 2.4rem;
}
.pagination span {
  height: 1.75em;
  line-height: 1.75em;
}
.pagination .number {
  text-align: center;
  width: 1.75em;
  padding: 0;
}
.pagination .number.current {
  color: #fff;
  background: #2e7b8e;
  border-radius: 100vw;
}
.pagination .number a:link,
.pagination .number a:visited {
  padding: 0;
  width: 1.75em;
  height: 1.75em;
}
.pagination a:link,
.pagination a:visited {
  background: #eee;
  text-decoration: none;
  color: #222;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  border-radius: 100vw;
}
.pagination a:focus,
.pagination a:hover {
  color: #fff;
  background: #222;
}
.pagination a:empty {
  display: none;
}
footer {
  padding: 4.5rem 0 0;
}
footer nav {
  margin: 0 auto 0 0;
}
.ftr-container {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 169.6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.ftr-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 0 3rem 0;
}
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.4rem;
}
.social-icon {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  text-indent: -99999rem;
}
.social-icon.facebook {
  -webkit-mask: url(/img/icons/social-media/facebook.svg);
  mask: url(/img/icons/social-media/facebook.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #333;
  color: #fff;
}
.social-icon.facebook:hover {
  background: #3b5999;
}
.social-icon.twitter {
  -webkit-mask: url(/img/icons/social-media/twitter.svg);
  mask: url(/img/icons/social-media/twitter.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #333;
  color: #fff;
}
.social-icon.twitter:hover {
  background: #5fa9dd;
}
.social-icon.instagram {
  -webkit-mask: url(/img/icons/social-media/instagram.svg);
  mask: url(/img/icons/social-media/instagram.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: -webkit-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -o-radial-gradient(
    30% 107%,
    circle,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  position: relative;
}
.social-icon.instagram:before {
  content: "";
  -webkit-mask: url(/img/icons/social-media/instagram.svg);
  mask: url(/img/icons/social-media/instagram.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #333;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.social-icon.instagram:hover:before {
  opacity: 0;
}
.social-icon.youtube {
  -webkit-mask: url(/img/icons/social-media/youtube.svg);
  mask: url(/img/icons/social-media/youtube.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #333;
  color: #fff;
}
.social-icon.youtube:hover {
  background: #ff0000;
}
.social-icon.linkedin {
  -webkit-mask: url(/img/icons/social-media/linkedin.svg);
  mask: url(/img/icons/social-media/linkedin.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #333;
  color: #fff;
}
.social-icon.linkedin:hover {
  background: #0a66c2;
}
.ftr-contact {
  border-top: 0.1rem solid #ddd;
  text-align: center;
  font-size: 1.6rem;
  padding: 4.8rem 0;
}
.ftr-contact .divider {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
  width: 0.1rem;
  background: #2e7b8e;
  height: 0.8em;
}
.copyright {
  color: #757575;
  text-align: center;
  font-size: 1.4rem;
  text-wrap: balance;
  padding: 0 0 3rem 0;
}
.copyright a:link,
.copyright a:visited {
  color: #757575;
  text-decoration: none;
}
.copyright a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 1980px) {
  html {
    font-size: 0.5050505050505051vw;
  }
}
@media screen and (max-width: 1240px) {
  .feature-boxes {
    display: block;
  }
  .feature-boxes a {
    width: auto;
    margin: 0 4.5rem 4.5rem;
    position: relative;
  }
  .feature-boxes picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
  }
  .feature-boxes picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .feature-boxes .feature-text {
    margin-left: 50%;
  }
  .feature-boxes .feature-text.no-img {
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .feature-boxes .feature-cta {
    margin-left: calc(50% + 2.4rem);
  }
  .feature-boxes .feature-cta.no-img {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-boxes a:nth-child(2n) picture {
    right: 0;
    left: initial;
  }
  .feature-boxes a:nth-child(2n) .feature-text {
    margin-left: initial;
    margin-right: 50%;
  }
  .feature-boxes a:nth-child(2n) .feature-text.no-img {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .feature-boxes a:nth-child(2n) .feature-cta {
    margin-top: 0;
    margin-left: 2.4rem;
    margin-right: calc(50% + 2.4rem);
  }
  .feature-boxes a:nth-child(2n) .feature-cta.no-img {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 720px) {
  .feature-boxes picture {
    position: static;
    width: 100%;
  }
  .feature-boxes picture img {
    width: 100%;
    height: auto;
  }
  .feature-boxes .feature-text {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .feature-boxes .feature-cta {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-boxes a {
    margin: 0 3rem 3rem;
  }
  .feature-boxes a:nth-child(2n) .feature-text {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .feature-boxes a:nth-child(2n) .feature-cta {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .feature-boxes a:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 2.083333333333333vw;
  }
}
@media screen and (min-width: 1024px) {
  a[href^="tel:"] {
    text-decoration: none;
    cursor: default;
  }
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
fieldset .input:last-child,
fieldset .input:nth-last-child(2) {
  margin-bottom: 0;
}
legend {
  display: none;
}
.radios legend,
label {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  font-weight: bold;
  font-size: 2.1rem;
  font-family: "Roboto Condensed", Impact, "Franklin Gothic Bold", sans-serif;
  color: #010101;
  font-weight: bold;
  padding: 0 0.5rem 0;
  position: relative;
}
label input[type="checkbox"],
label input[type="radio"] {
  display: inline-block;
  margin: 0 0.25em;
}
.checkbox,
.radio {
  margin: 0 0.5rem;
}
.checkbox input,
.checkbox label,
.radio input,
.radio label {
  display: inline-block;
}
.checkbox input,
.radio input {
  width: auto;
}
.checkbox label,
.radio label {
  font-weight: normal;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}
input:focus,
select:focus,
textarea:focus {
  outline-width: 0.1rem;
  outline-offset: 0.2rem;
}
input,
select,
textarea {
  color: #333;
  background-color: #f7f7f7;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.8rem;
  padding: 0.8rem 2.8rem 0.8rem 0.8rem;
  -webkit-transition: border 250ms ease-out;
  -o-transition: border 250ms ease-out;
  transition: border 250ms ease-out;
}
optgroup {
  font-style: normal;
}
input[type="email"],
input[type="month"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
textarea {
  width: 100%;
}
.input {
  margin: 0 0 2.4rem;
}
option {
  padding: 0 0.5rem;
}
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="submit"] {
  border: none;
  padding: 0;
  width: auto;
}
input[type="color"] {
  height: 2.5em;
  width: 5em;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  background-color: #2e7b8e;
  color: #fff;
  font-family: inherit;
  font-size: 2.4rem;
  text-decoration: none;
  padding: 0.6em 1.4em;
  line-height: 1;
  border-radius: 100vw;
  border: none;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:focus,
button:hover,
input[type="button"]:focus,
input[type="button"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #3a9cb5;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  border: none !important;
}
.search-bar {
  padding: 0 0 4.5rem;
}
.search-bar .search-form-container {
  width: calc(100% - var(--inline-padding) * 2);
  max-width: 83.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}
.search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.search-bar form label {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.sitemap_search_input,
.sitemap_search_input_header {
  border-radius: 100vw 0 0 100vw !important;
  background-image: none !important;
  padding: 1rem 2.4rem !important;
  border-right: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
}
#CmsPluginIndexSearchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
input[type="submit"].search-btn {
  padding-right: calc(3.2rem + 1em);
  background-image: url(/img/icons/magnifying-glass.svg);
  background-repeat: no-repeat;
  background-size: 2.4rem 2.4rem;
  background-position: calc(100% - 1em) calc(50%) !important;
  border-radius: 0 100vw 100vw 0;
}
.form_tip .required,
label .required,
legend .required {
  color: #cc0000;
}
.optional {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
}
#UserLoginForm,
#UserRetrieveForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#UserLoginForm .input.password,
#UserLoginForm .input.text,
#UserRetrieveForm .input.password,
#UserRetrieveForm .input.text {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: calc(50% - 1.5rem);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.5rem;
}
#UserLoginForm .submit,
#UserRetrieveForm .submit {
  margin: 0;
}
.mortgage-calc-results label {
  display: block;
}
.mortgage-calc-results .dollar-sign {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 0 0 0.5rem;
  color: #111;
}
.mortgage-calc-results input[name="AmountOwing"]:disabled,
.mortgage-calc-results input[name="PaymentSize"]:disabled {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  font-size: 2.4rem;
  font-weight: bold;
  background: #fff;
  color: #111;
  padding: 0;
}
.mortgage-disclaimer {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.5em;
  border: 0.1rem solid #df8f8f;
  color: #665252 !important;
  background: #ffcece;
  line-height: normal;
  margin-top: 1.5rem;
}
form:invalid input[type="submit"] {
  background: #999;
  border: none;
}
input:focus,
input:invalid,
input:valid,
textarea:focus,
textarea:invalid,
textarea:valid {
  background-position: calc(100% - 0.375em) 0.55em;
  background-repeat: no-repeat;
  background-size: 1.8rem;
}
input:invalid,
textarea:invalid {
  background-image: url(/img/icons/circle-x.svg);
  border-color: #bc0000;
}
input.invalid:not(:focus),
textarea.invalid:not(:focus) {
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both !important;
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both !important;
}
@media (prefers-reduced-motion) {
  input.invalid:not(:focus),
  textarea.invalid:not(:focus) {
    -webkit-animation: none !important;
    animation: none !important;
  }
}
input:placeholder-shown,
textarea:placeholder-shown {
  background-image: none;
  border-color: #ccc;
}
input:placeholder-shown:not(:focus),
textarea:placeholder-shown:not(:focus) {
  -webkit-animation: none;
  animation: none;
}
input:hover,
input:placeholder-shown:hover,
select:hover,
textarea:hover,
textarea:placeholder-shown:hover {
  -webkit-box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0.1rem 0.1rem 0.8rem 0 rgba(0, 0, 0, 0.15);
}
input.invalid:focus,
input:focus,
textarea.invalid:focus,
textarea:focus {
  background-image: url(/img/icons/circle-exclamation.svg);
  border-color: #ffbb33;
}
input.invalid:valid,
input:valid,
textarea.invalid:valid,
textarea:valid {
  background-image: url(/img/icons/circle-check.svg);
  border-color: #7aac41;
}
input.invalid,
textarea.invalid {
  background-image: url(/img/icons/circle-x.svg);
  border-color: #bc0000;
}
input:not(:required),
textarea:not(:required) {
  background-image: none;
  border-color: #ccc;
}
@-webkit-keyframes shake-horizontal {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
  }
  80% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
  90% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem);
  }
}
@keyframes shake-horizontal {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-0.3rem);
    transform: translateX(-0.3rem);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(0.3rem);
    transform: translateX(0.3rem);
  }
  80% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem);
  }
  90% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem);
  }
}
.form_tip {
  display: inline-block;
  margin: 0.6rem 0 1.2rem;
  font-size: 1.6rem;
}
.optional {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 400;
  margin-left: 0.5rem;
}
label .tooltip {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}
label:hover .tooltip {
  opacity: 1;
}
.tooltip {
  font-weight: normal;
  font-style: italic;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0.1rem 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.input-desc {
  font-size: 1.4rem;
  font-style: italic;
  padding: 0.5rem 0.5rem 0;
  display: block;
  color: #757575;
}
.grecaptcha-badge {
  display: none;
}
@media screen and (max-width: 780px) {
  #UserLoginForm .input.password,
  #UserLoginForm .input.text {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  label .tooltip {
    display: none;
  }
}
.notification {
  border-radius: 0.5rem;
  font-size: 1.8rem;
}
.notification ol,
.notification ul {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.8rem;
  line-height: 1.5;
}
.error-message,
.notification {
  position: relative;
  margin: 0 0 3rem 0;
  border: 0.2rem solid;
  background-position: 1.2rem 1.2rem !important;
  background-repeat: no-repeat !important;
}
.notification.attention {
  background-color: #feefb3;
  background-image: url("/img/icons/exclamation.svg");
  background-size: 2.1rem;
  border-color: #e2b503;
  color: #322801;
}
.notification.information {
  background-color: #bde5f8;
  background-image: url("/img/icons/information.svg");
  background-size: 2.1rem;
  border-color: #1696d3;
  color: #052331;
}
.notification.success {
  background-color: #dff2bf;
  background-image: url("/img/icons/circle-check.svg");
  background-size: 2.1rem;
  border-color: #86be27;
  color: #1e2a09;
}
.error-message,
.notification.error {
  background-color: #ffeded;
  background-image: url("/img/icons/exclamation_circle.svg");
  background-size: 2.1rem;
  border-color: #bc0000;
  color: #6e0000;
}
.notification div {
  padding: 1.2rem 6.5rem 1.2rem 4rem;
}
.notification div ol,
.notification div ul {
  line-height: 1.5;
}
.notification .close {
  color: #990000;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  text-decoration: none;
  right: 0.5rem;
  top: 0.5rem;
}
.notification .close img {
  display: inline-block;
  vertical-align: middle;
}
.notification .close:hover {
  background: transparent;
  color: #330000;
}
.input .error-message,
.input .notification {
  padding: 0.5rem 0.5rem 0.5rem 3.5rem;
  border: 0;
  font-size: 1.4rem;
}
.input-error {
  display: block;
}
.input .error-message {
  color: #6e0000;
  background: #ffeded url("/img/icons/exclamation_circle.svg") left center
    no-repeat;
  background-size: 1.6rem;
  background-position: 1.2rem 0.6rem !important;
  margin: 0;
  margin-top: 0.4rem;
  font-style: italic;
}
.message {
  clear: both;
  color: #fff;
  font-weight: bold;
  margin: 0 0 1.5rem 0;
  padding: 0.5rem;
}
.cake-debug,
.cake-error,
.error-message,
.message,
.notice,
p.error {
  background: #ffcc00;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
  color: #404040;
  border-radius: 0.5rem;
}
.success {
  clear: both;
  color: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.5);
  background: #3b8230;
}
p.error {
  padding: 1.5rem;
  margin: 1.5rem 0;
}
p.error em {
  font-weight: normal;
  line-height: 140%;
}
.notice {
  color: #000;
  display: block;
  padding: 1.5rem;
  margin: 1.5rem 0;
}
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  border-left: 0.1rem solid #fff;
  width: 38.1rem;
  overflow-x: hidden;
  overflow-y: auto;
  background: #2e7b8e;
  -webkit-box-shadow: inset 0.8rem 0 0.8rem 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0.8rem 0 0.8rem 0 rgba(0, 0, 0, 0.15);
}
.sidr.right {
  left: auto;
  right: -38.1rem;
}
.sidr.left {
  left: -38.1rem;
  right: auto;
}
.sidr ul {
  list-style-type: none;
  margin: 0;
  font-size: 2.4rem;
  letter-spacing: 0.025em;
  text-align: center;
}
.sidr ul li {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.35);
}
.sidr ul ul {
  text-transform: none;
  margin: 0;
  font-size: 2.1rem;
}
.sidr ul ul a:link,
.sidr ul ul a:visited {
  padding: 1.6rem 3.2rem;
}
.sidr ul ul li {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.15);
}
.sidr ul ul li:first-child {
  border-top: 0.1rem solid rgba(255, 255, 255, 0.15);
}
.sidr ul ul ul li {
  border-bottom: none;
}
.sidr .has-sub-nav > a:after {
  position: absolute;
  display: block;
  top: 50%;
  right: 1.6rem;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  -webkit-mask: url(/img/icons/arrow-down.svg);
  mask: url(/img/icons/arrow-down.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #fff;
}
.sidr .has-sub-nav.open > a:after {
  position: absolute;
  display: block;
  top: 50%;
  right: 1.6rem;
  width: 2rem;
  height: 2rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-mask: url(/img/icons/arrow-up.svg);
  mask: url(/img/icons/arrow-up.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #fff;
}
.sidr a:link,
.sidr a:visited {
  display: block;
  text-decoration: none;
  padding: 2.4rem 3.2rem;
  position: relative;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
}
.sidr a:focus,
.sidr a:hover {
  background: #153841;
}
#responsive-menu-button {
  display: none;
}
@media screen and (max-width: 700px) {
  #responsive-menu-button {
    background: #2e7b8e;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    color: #fff;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1.2rem;
    border-radius: 0.25rem;
  }
  #responsive-menu-button:focus,
  #responsive-menu-button:hover {
    background: #010101;
  }
  header nav ul {
    display: none;
  }
  .hamburger {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 4rem;
    width: 4rem;
    text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
  }
  .hamburger span {
    position: absolute;
    display: block;
    height: 0.5rem;
    background: #fff;
    width: 100%;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
  }
  .hamburger span:first-child {
    top: 0.4rem;
  }
  .hamburger span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hamburger span:nth-child(3) {
    bottom: 0.4rem;
  }
  .sidr-open .hamburger span:first-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
    -ms-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    top: 50%;
  }
  .sidr-open .hamburger span:nth-child(2) {
    display: none;
  }
  .sidr-open .hamburger span:nth-child(3) {
    -webkit-transform: translateY(50%) rotate(45deg);
    -ms-transform: translateY(50%) rotate(45deg);
    transform: translateY(50%) rotate(45deg);
    bottom: 50%;
  }
}
@media screen and (min-width: 701px) {
  body {
    position: static !important;
    width: auto !important;
  }
  .sidr {
    display: none !important;
  }
}
