# Gzip
<ifmodule mod_deflate.c>
    # Add support for the common font types
    AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/xml application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml application/atom+xml application/javascript application/x-javascript
    AddOutputFilterByType DEFLATE application/x-font-ttf application/x-font-opentype application/x-font-woff application/vnd.ms-fontobject font/ttf font/opentype font/woff font/woff2
    AddOutputFilterByType DEFLATE image/svg+xml
</ifmodule>
# End Gzip

# BEGIN Caching
<ifModule mod_headers.c>
<filesMatch "\\.(avif|ico|pdf|flv|jpg|jpeg|mp4|png|gif|swf|svg|webm|webp)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
<filesMatch "\\.(css)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>
<filesMatch "\\.(js)$">
Header set Cache-Control "max-age=216000, public"
</filesMatch>
<filesMatch "\\.(xml|txt)$">
Header set Cache-Control "max-age=216000, public, must-revalidate"
</filesMatch>
</ifModule>
# END Caching

<Files /wp-login.php>
    Order Deny,Allow
    Deny from All
    # Allow from x.x.x.x
</Files>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^GET$
    RewriteCond %{HTTP:Cookie} !^.*pyramid_logged_in.*$
    RewriteCond %{DOCUMENT_ROOT}/app/webroot/cache/$1/index.html -f
    RewriteRule ^(.*)$ /cache/$1/index.html [L]

    RedirectMatch 301 (?i)/apple(-touch-icon-.*)?.png /apple-touch-icon.png

    # Responsive images
    RewriteCond %{REQUEST_URI} !ai-cache
    RewriteRule ^(.*)(-responsive-)([0-9]+).(jpe?g|gif|png)$ adaptive-images.php?res=$3

    # Redirect /webmail to http://webmail.{HTTP_HOST}
    RewriteRule ^webmail/?$ http://webmail.{HTTP_HOST} [R=301,L]

	# Force HTTPS and WWW in a single, efficient block
	RewriteCond %{HTTP_HOST} !^www\. [NC,OR]
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
	RewriteRule ^(.*)$ https://www.%1/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>